<a href="https://colab.research.google.com/github/JF11579/New-Stuff/blob/main/ACLED_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Notes

In the fighting in South sudan the sides are fluid.  Who fights with you one day may fight against you the next.  Here we put a number on the number of times each pair fought together v the number of times they opposed each other.

But to make sure our methodology is working we first tried it out on the baby set of data below.

# Options

In [1]:
# Lets eliminate exponents
options(scipen = 999) 

#this enlarges graphs in colab
options(repr.plot.width=14, repr.plot.height=10)

# Packages

In [41]:
library(tidyverse)
library(ggplot2)
library(lubridate)

# Data

https://docs.google.com/spreadsheets/d/e/2PACX-1vR8pRO0a4SwscPEnSqsZT6RQM_L7ocmwKQ10nu6qQ_mlLKPReP2KmszxwJaYRtaQ_1N5vfSfDSbZtpw/pubhtml

In [42]:
 data <- read.csv("/content/Marcos_Names_2 - Sheet1.csv")

In [43]:
data

   Actor_1 Actor_1_assistant Actor_2 Actor._2_assistant Conflict_Number
1  Ann     Bill              Carl    Dave                10
2  Ann     Bill              Carl    Doug                20
3  Ann     Ben               Bill    Dean                30
4  Ann     Ben               Bill    Derek               40
5  Amanda  Bill              Chris   Darrel              50
6  Amanda  Ben               Casey   Darrel              60
7  Amanda  Bob               Casey   Dave                70
8  Amanda  Brad              Deon    Dwight              80
9  Ashley  Brad              Ben     Donald              90
10 Ashley  Britt             Ben     Drew               100
11 Ashley  Brian             Bill    Casey              110
12 Ashley  Bert              Bill    Carl               120

We use group by.  We look at each row and create a new variable for each count.  Below the new column is **Actor_1_AGAINST_Actor_2**.  Later we will create a collumn of **Actor_1_WITH_Actor_1_Asst** and subtract one from the other.

In [44]:
Actor_1_AGAINST_Actor_2 <- data %>% group_by(Actor_1 , Actor_2 ) %>% mutate(Actor_1_AGAINST_Actor_2 = n())

In [45]:
Actor_1_AGAINST_Actor_2

   Actor_1 Actor_1_assistant Actor_2 Actor._2_assistant Conflict_Number
1  Ann     Bill              Carl    Dave                10
2  Ann     Bill              Carl    Doug                20
3  Ann     Ben               Bill    Dean                30
4  Ann     Ben               Bill    Derek               40
5  Amanda  Bill              Chris   Darrel              50
6  Amanda  Ben               Casey   Darrel              60
7  Amanda  Bob               Casey   Dave                70
8  Amanda  Brad              Deon    Dwight              80
9  Ashley  Brad              Ben     Donald              90
10 Ashley  Britt             Ben     Drew               100
11 Ashley  Brian             Bill    Casey              110
12 Ashley  Bert              Bill    Carl               120
   Actor_1_AGAINST_Actor_2
1  2
2  2
3  2
4  2
5  1
6  2
7  2
8  1
9  2
10 2
11 2
12 2

In [46]:
Actor_1_AGAINST_Actor._2_assistant <- Actor_1_AGAINST_Actor_2 %>% group_by(Actor_1 , Actor._2_assistant ) %>% mutate(Actor_1_AGAINST_Actor._2_assistant  = n())

In [47]:
Actor_1_AGAINST_Actor._2_assistant

   Actor_1 Actor_1_assistant Actor_2 Actor._2_assistant Conflict_Number
1  Ann     Bill              Carl    Dave                10
2  Ann     Bill              Carl    Doug                20
3  Ann     Ben               Bill    Dean                30
4  Ann     Ben               Bill    Derek               40
5  Amanda  Bill              Chris   Darrel              50
6  Amanda  Ben               Casey   Darrel              60
7  Amanda  Bob               Casey   Dave                70
8  Amanda  Brad              Deon    Dwight              80
9  Ashley  Brad              Ben     Donald              90
10 Ashley  Britt             Ben     Drew               100
11 Ashley  Brian             Bill    Casey              110
12 Ashley  Bert              Bill    Carl               120
   Actor_1_AGAINST_Actor_2 Actor_1_AGAINST_Actor._2_assistant
1  2                       1
2  2                       1
3  2                       1
4  2                       1
5  1                       2
6  2                       2
7  2                       1
8  1                       1
9  2                       1
10 2                       1
11 2                       1
12 2                       1

In [48]:
Actor_1_WITH_Actor_1_Asst <- Actor_1_AGAINST_Actor._2_assistant %>% group_by(Actor_1 , Actor_1_assistant ) %>% mutate(Actor_1_WITH_Actor_1_Asst = n())

In [49]:
Actor_1_WITH_Actor_1_Asst

   Actor_1 Actor_1_assistant Actor_2 Actor._2_assistant Conflict_Number
1  Ann     Bill              Carl    Dave                10
2  Ann     Bill              Carl    Doug                20
3  Ann     Ben               Bill    Dean                30
4  Ann     Ben               Bill    Derek               40
5  Amanda  Bill              Chris   Darrel              50
6  Amanda  Ben               Casey   Darrel              60
7  Amanda  Bob               Casey   Dave                70
8  Amanda  Brad              Deon    Dwight              80
9  Ashley  Brad              Ben     Donald              90
10 Ashley  Britt             Ben     Drew               100
11 Ashley  Brian             Bill    Casey              110
12 Ashley  Bert              Bill    Carl               120
   Actor_1_AGAINST_Actor_2 Actor_1_AGAINST_Actor._2_assistant
1  2                       1
2  2                       1
3  2                       1
4  2                       1
5  1                       2
6  2                       2
7  2                       1
8  1                       1
9  2                       1
10 2                       1
11 2                       1
12 2                       1
   Actor_1_WITH_Actor_1_Asst
1  2
2  2
3  2
4  2
5  1
6  1
7  1
8  1
9  1
10 1
11 1
12 1

In [50]:
Actor_2_More_or_less_Against_Actor_1 <- Actor_1_WITH_Actor_1_Asst %>%
                                        mutate(Actor_1_minus_Actor_2 = Actor_1_WITH_Actor_1_Asst - Actor_1_AGAINST_Actor_2  )

If the last column,  **Actor_1_minus_Actor_2** , is negative Actor 2 more often foought **WITH** Actor 1 than against.

Next we subset the ACLED data set for soth sudan and apply the code to that.

In [51]:
Actor_2_More_or_less_Against_Actor_1

   Actor_1 Actor_1_assistant Actor_2 Actor._2_assistant Conflict_Number
1  Ann     Bill              Carl    Dave                10
2  Ann     Bill              Carl    Doug                20
3  Ann     Ben               Bill    Dean                30
4  Ann     Ben               Bill    Derek               40
5  Amanda  Bill              Chris   Darrel              50
6  Amanda  Ben               Casey   Darrel              60
7  Amanda  Bob               Casey   Dave                70
8  Amanda  Brad              Deon    Dwight              80
9  Ashley  Brad              Ben     Donald              90
10 Ashley  Britt             Ben     Drew               100
11 Ashley  Brian             Bill    Casey              110
12 Ashley  Bert              Bill    Carl               120
   Actor_1_AGAINST_Actor_2 Actor_1_AGAINST_Actor._2_assistant
1  2                       1
2  2                       1
3  2                       1
4  2                       1
5  1                       2
6  2                       2
7  2                       1
8  1                       1
9  2                       1
10 2                       1
11 2                       1
12 2                       1
   Actor_1_WITH_Actor_1_Asst Actor_1_minus_Actor_2
1  2                          0
2  2                          0
3  2                          0
4  2                          0
5  1                          0
6  1                         -1
7  1                         -1
8  1                          0
9  1                         -1
10 1                         -1
11 1                         -1
12 1                         -1

# Venn diagrams

https://blog.exploratory.io/how-to-create-a-venn-diagram-on-exploratory-desktop-3d57f07e3605